{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps {org.clojure/clojure         {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/test.check {:mvn/version "1.0.0"}
        org.clojure/core.async {:mvn/version "1.1.587"}

        github.Starbuck/cljc {:git/url "https://github.com/Empire-Strikes-Back/Starbuck"
                              :sha "dd915c9334c300240d1f7625cd85b8ba94bf6972"
                              :deps/root "cljc"}
        github.Starbuck/csp {:git/url "https://github.com/Empire-Strikes-Back/Starbuck"
                             :sha "dd915c9334c300240d1f7625cd85b8ba94bf6972"
                             :deps/root "csp"}
        github.Starbuck/rsocket-js {:git/url "https://github.com/Empire-Strikes-Back/Starbuck"
                                    :sha "dd915c9334c300240d1f7625cd85b8ba94bf6972"
                                    :deps/root "rsocket-js"}}
 :aliases {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.7"
                                                    :exclusions [nrepl/nrepl
                                                                 cider/piggieback
                                                                 org.clojure/clojure
                                                                 org.clojure/clojurescript
                                                                 org.clojure/core.async]}
                              nrepl/nrepl {:mvn/version "0.6.0"}
                              cider/cider-nrepl {:mvn/version "0.24.0"}
                              cider/piggieback {:mvn/version "0.4.2"}}}}}