{:paths ["source" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps {org.clojure/clojure         {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.758"}
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/test.check {:mvn/version "1.0.0"}
        org.clojure/core.async {:mvn/version "1.1.587"}

        github.cljctools/cljc {:local/root "/ctx/cljctools/cljc"}
        github.cljctools/csp {:local/root "/ctx/cljctools/csp"}
        github.cljctools/rsocket-js {:local/root  "/ctx/cljctools/rsocket-js"}}
 :aliases {:dev {:extra-deps {/shadow-cljs {:mvn/version "2.11.7"
                                                    :exclusions [nrepl/nrepl
                                                                 cider/piggieback
                                                                 org.clojure/clojure
                                                                 org.clojure/clojurescript
                                                                 org.clojure/core.async]}
                              nrepl/nrepl {:mvn/version "0.6.0"}
                              cider/cider-nrepl {:mvn/version "0.24.0"}
                              cider/piggieback {:mvn/version "0.4.2"}}}}}